.login{
    height: 500px;
    width: 400px;
    border: 1px solid black;
    background: url('mountain.jpeg');
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    overflow: hidden;

}

form{
    display: block;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(40%);
    flex-direction: column;
    display:flex ;
}



h1{
    font-weight: normal;
    font-size: 24px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
    text-align: center;
    }

label{
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    padding-left: 10px;
}

input{
    background: rgba(255, 255, 255, 0.3);
    line-height: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
    padding: 0 30px;
}

input:hover{
    background-color: azure;
}

button{
    background: rgba(45, 126, 231);
    border-radius: 40px;
    border: none;
    line-height: 40px;
    margin: 10px 0px;
    height: 40px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    color: white;
}

p{
    text-align: center;
}